

@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome-webfont.eot');
	src:url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
		url('../fonts/fontawesome-webfont.svg') format('svg'),
		url('../fonts/fontawesome-webfont.woff') format('woff'),
		url('../fonts/fontawesome-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



body {
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}


@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}


/*CUSTOM KENDO STYLES*/
/**************************Notification Styles*********************************/
.k-notification {
    border: 0;
}
/* Error template */
.k-notification-error.k-group {
    background: rgba(100%,0%,0%,.7);
    color: #ffffff;
}
.popupError {
    z-index:90000;
    width: 365px;
    height: auto;
    margin-left:5px;
}
.popupError h3 {
    font-size: 1em;
    padding: 32px 10px 5px;
    color: white;
}
.popupError img {
    float: left;
    margin: 30px 15px 30px 30px;
}
                
/* Success template */
.k-notification-success.k-group {
    background: rgba(0%,60%,0%,.7);
    color: #fff;
}
.popupSuccess {
    z-index:90000;
    width: 335px;
    height: auto;
    margin-left:5px;
    padding-left: 30px;
    line-height: 100px;
}
.popupSuccess h3 {
    font-size: 1.4em;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    color: white;
    margin-bottom:15px;
}
.popupSuccess img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

/* Warning template */        
.k-notification-warning.k-group {
    background: rgba(100%,33%,5%,.7);
    color: #ffffff;
}
.popupWarning {
    z-index:90000;
    width: 365px;
    height: auto;
    margin-left:5px;
}
.popupWarning h3 {
    font-size: 1em;
    padding: 32px 10px 5px;
    color: white;
}
.popupWarning img {
    float: left;
    margin: 30px 15px 30px 30px;
}

.notificationMessage {
    white-space: pre-line;
}





/**************************Right Side Nenu*********************************/
/* General styles for all menus */
.right-menu-button {
    float:right;
    margin:7px 0;
    right:0;
    padding: 7px 0;
}

.right-menu-button.right-menu-button-open {
	right: 240px;
}

.cbp-spmenu {
	background: #47a3da;
	position: fixed;
}

.cbp-spmenu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	background: #258ecd;
}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #258ecd;
	padding: 1em;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0;
}


/* Transitions */

.cbp-spmenu, .right-menu-button {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-height: 26.375em) {

    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }

    .cbp-spmenu-right {
        right: -190px;
    }
}





/**************************Left Sidebar Menu Hover*********************************/

.fa-2x {
    font-size: 2em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size:20px;
}


.left-menu:hover,nav.left-menu.expanded {
    width:250px;
    overflow:visible;
}

.left-menu {
    background:#fbfbfb;
    border-right:1px solid #e5e5e5;
    position:absolute;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    width:60px;
    overflow:hidden;
    -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
}

.left-menu>ul {
    margin:7px 0;
}

.left-menu li {
    position:relative;
    display:block;
    width:250px;
}

.left-menu li>a {
    position:relative;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color:#999;
     font-family: arial;
    font-size: 14px;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .1s linear;
    transition:all .1s linear;
}

.left-menu .nav-icon {
    position:relative;
    display:table-cell;
    width:60px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
}

.left-menu .nav-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
    font-family: 'Titillium Web', sans-serif;
}

.left-menu>ul.logout {
    position:absolute;
    left:0;
    bottom:0;
}

.no-touch .scrollable.hover {
    overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
}

a:hover,a:focus {
    text-decoration:none;
}

nav {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

nav ul,nav li {
    outline:0;
    margin:0;
    padding:0;
}
.main-menu li:hover>a,nav.left-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color:#fff;
    background-color:#5fa2db;
}
.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}


/**************************Tile*********************************/